
.btn-image-container {
    position: relative;
    display: inline-block;
    width: 50%;
}

.hidden-image-container {
    width: 50%;
}

.flex-img-container {
    display: flex;
}

.overlay-button {
    height: fit-content;
    white-space: pre-line;
    position: absolute;
    top: 40%;
    left: 10%;
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}