.block-content {
    margin-top: 20px;
    text-align: center;
}

.bigHeader {
    font-size: 32px;
}

.reasonDiv {
    padding: 1%;
    display: flex;
    justify-content: center;
}

.reasonImg {
    width: 100%;
}