.unresolved-item {
    height: 60px;
    line-height: 60px;
    margin-top: 20px;
    background-color: rgb(18, 142, 120);
    border-radius: 10px;
}

.unresolved-item-img {
    margin-left: 20px;
    margin-top: 10px;
    height: 40px;
    width: 40px;
}

.unresolved-item-text {
    height: 60px;
    line-height: 60px;
    font-size: 25px;
}