.container-headbar {
    height: 60px;
    background-color: rgb(64, 137, 141);
}

.head-row {
    height: 60px;
}

svg {
    width: 3em;
    height: 3em;
}

.round-input {
    height: 50px;
    margin-top: 5px;
    border-radius: 25px;
}