body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: center;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    text-align: left;
}

input[type="submit"] {
    background-color: #00008B;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #00008B;
}

label {
    margin-bottom: 10px;
    display: inline-block;
}

.login-link {
    margin-top: 10px;
    display: inline-block;
}

.register-link {
    margin-top: 10px;
    display: inline-block;
}

.retrieve-link {
    margin-top: 10px;
    display: inline-block;
}

