<!-- chat.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Chat Room</title>
</head>
<body>
<input id="username" placeholder="Enter your username">
<input id="room-number" placeholder="Enter room number">
<button onclick="joinRoom()">Join</button>
<ul id="chat-log"></ul>
<input id="chat-message" autocomplete="off" disabled>
<button onclick="sendMessage()" disabled>Send</button>
<script>
        var chatSocket;

        function joinRoom() {
            if (chatSocket) {
                chatSocket.close();
            }

            var username = document.getElementById("username").value;
            var roomNumber = document.getElementById("room-number").value;

            chatSocket = new WebSocket('ws://localhost:8001/ws/chat/' + roomNumber + '/');
            chatSocket.onmessage = function(e) {
                var data = JSON.parse(e.data);
                var message = data['message'];
                document.querySelector('#chat-log').innerHTML += '<li>' + message + '</li>';
            };

            chatSocket.onclose = function(e) {
                console.error('Chat socket closed unexpectedly');
            };

            document.getElementById("chat-message").disabled = false;
            document.querySelector('button[onclick="sendMessage()"]').disabled = false;
        }

        function sendMessage() {
            var message = document.getElementById("chat-message").value;
            var username = document.getElementById("username").value;

            chatSocket.send(JSON.stringify({
                'message': username + ": " + message
            }));

            document.getElementById("chat-message").value = '';
        }
    </script>
</body>
</html>


