
.btn-image-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.hidden-image-container {
    width: 50%;
}

.flex-img-container {
    display: flex;
    width:350.3px;
}

.overlay-button {
    white-space: pre-line;
    position: absolute;
    top: 45%;
    left: 2%;
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    width: 120px;
    color: white;
}