.bottom-content {
    text-align: center;
    height: 100px;
    background-color: dimgray;
    margin-top: 40px;
}

.title-content {
    padding-top: 20px;
    color: white;
    font-family: "SimHei", sans-serif;
    font-size: larger;
    font-weight: bold;
}