.app-header {
    height: 9vh;
    background-color: rgba(203, 201, 199, 199);
    display: flex;
    align-items: center;


}

.title {
    color: black;
    margin-left: 2vw;
    font-family: "Eras Bold ITC";
    font-size: 22px;
    font-weight: 500;
    width: 300px;
    margin-top: 1vw;

}

.operate-btn {
    margin-left: 75vw;
    border-radius: 15px;
    width: fit-content;
    height: 35px;
    display: flex;
    background-color: #1890ff;
}


/* .header-image {
    width: 100%;
} */

.app-image {
    padding-top: 4px;
    display: flex;

    height: auto;
    justify-content: center;
}


.btn-login:hover {
    display: block;
}

.btn-login {
    display: none;
}

.btn-register:hover + .btn-login {
    display: block;
}