.app-header {
    /* height: 30vh; */
    /* background-color: rgba(203, 201, 199, 199);
    display: flex;
    align-items: center; */
}




.title {
    color: black;
    margin-left: 10vw;
    font-size: 35px;
    font-weight: 500;
    width: 300px;

    /* margin-top: 2vw; */
  ;

}

.operate-btn {
    margin-left: 65vw;
    border-radius: 15px;
    width: fit-content;
    height: 40px;
    display: flex;
    background-color: #174b7c;
}

.logo{
   width: 153vb;
   height:55vh;
   padding-left: 28.3vb;
}



.app-image {
    padding-top: 4px;
    display: flex;

    height: auto;
    justify-content: center;
}


.btn-login:hover {
    display: block;
}

.btn-login {
    display: none;
}

.btn-register:hover + .btn-login {
    display: block;
}